body{
  font-family: Montserrat;
}
h2{
  font-weight: 600;
  font-size: 3rem;
}

#title {
  background-color: #ff4c68;
  color: white;
  z-index: -1;
  position: relative;
}

#features{
  background-color: white;
  z-index: 1;
  position: relative;
}


.navbar{
  padding: 0 0 2rem;
}

.desc_text{
  font-family: 'Montserrat' sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.cf1{
  padding: 0 15%;
  padding-top: 5%;
}
.ham{
  width: 25px;
height: 5px;
background-color: #fff;
margin: 6px 0;
}
.navbar-brand{
  color: #fff;
  font-family: ubuntu;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: none;
}
.nav-link{
  color: white;
  text-decoration: none;
  font-family: "Montserrat" sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}
.nav-item{
  padding: 0 18px;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-img-col{
  text-align: center;
  position: relative;
  display: block;
  top: 150px;
}
.title_image{
  width: 50%;
  transform: rotate(25deg);
}
.features{
  text-align: center;
}
h3{
  font-weight: 900;
  padding-top: 20px;
}
.cf2{
  padding: 5% 15%;
}
.features-p{
  color: grey;
  width: 60%;
  margin: auto;
}
.icon-f{
  color: #ef8172;
  font-size: 4rem;
}
.icon-f:hover{
  color: #ff4c68;
}
.features-col{
  padding: 5% 0;
}
/* testimonial */

#testimonials{

  text-align: center;
  background-color:  #ef8172;
  color: #fff;
}
.testimonial-text{
  font-weight:bolder;
  padding: 2% 15%;
  line-height : 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:  2% 2%;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 2% 0;
}
.press-image{
  font-size: 2rem;
  margin: 30px 10px;
  width: 10%;
}
.carousel-item{
    padding: 3% 15%;
}

        /* pricing */
#pricing{
  padding: 5% 15%;
  text-align: center;
}
p{
  color: grey;
}
.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .cf1{
    text-align: center;
  }
  .title_image{
    position: relative;
    transform: rotate(0);
    margin-top: -20%;
    padding-bottom: 40%;
  }
}

#cta{
  text-align: center;
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;

}


.footer{
  text-align: center;
  padding: 2% 0;
}
.fti{
  padding: 1% 1%;
}
